body {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url("../../_common/Background_Body.jpg");
background-size: auto;
display: none;
}

#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: #EB6A18;
    border-style: solid;
    border-radius: 10px;
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    box-shadow: 12px 12px 12px #0000008a;
    color: #EB6A18;
    font-weight: 600;
}

textarea {
    height: 40%;
    width: 85%;
}

button {
    position: relative;
    height: 30px;
    width: 65px;
    border: 2px solid #EB6A18;
    border-radius: 4px;
    background-color: #EB6A18;
    color: white;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px 0px #000000ad;
    font-weight: bold;
    margin-top: 7px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #b44500;
    border: 2px solid #b44500;
}
.botoes:nth-of-type(1) {
    margin-right: 30px;
}

.botoes:nth-of-type(2) {
    margin-right: 10px;
}

#menu {
    color: white;   
    padding-top: 0px;
    text-align: center;
}
#opcoes {
    margin-left: 30px;
}

#verificarMarca {
margin-top: 10px;
font-size: 1em;
}

span {
font-weight: 600;
}

#Marca {
    width: 40%;
    height: 30px;
    margin-right: 30px;
    margin-top: 8px;
    float: left;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #000;
}

#containerRodape {
    margin-top: 88%;
}

#buttonVoltar {
    float:left;
    margin-left: 30px;

}
