<html>

<head>
    <title>Bender | Outras Funções</title>
    <link rel="icon" href="../../_common/Icon.png">
    <link rel='stylesheet' type='text/css' href='OutrasFuncoes_style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="container">
        <div id="opcoes">
            <div id="verificarMarca">
                <span>Verificar código da marca na VTEX</span><br>
                <input type="text" id="Marca" name="Marca" placeholder="Nome da marca">
                <button class="botoes" onclick='Listar()'>Lista</button>
                <button class="botoes" onclick='VerificarMarca()'>Verificar</button>
            </div>
        </div>
        <div id="containerRodape">
            <button id = "buttonVoltar" onclick="parent.location='../Menu/menu.html'">Voltar</button>
        </div>
    </div>
    <body onload="checkCookies()"></body>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="../../_common/Common_script.js"></script>
    <script src="OutrasFuncoes_script.js"></script>
    <script src="arrayMarcas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>