<html>

<head>
    <title>Bender | Login</title>
    <link rel="icon" href="../_common/Icon.png">
    <link rel="stylesheet" type="text/css" href="./views/Login/Login_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="container__title">
            <h2>Login</h2>
            <span>Bem vindo/a ao Bender!</span>
        </div>
        <div class="loginBox">
            <div class="info">
                <label>Email Corporativo<input id="email" name="email" type="text"
                        placeholder="Email da Ferimport" /></label>
            </div>
            <div class="info">
                <label>Senha<input id="senhaAcesso" name="senha" type="password" placeholder="Senha do email"
                        type="text" /></label>
            </div>
            <button onclick="Login()">Login</button>
            <div id="footer">
                <span class="help" onclick="esqueceuSenha()">Esqueceu a senha?</span>
                <br>
                <span class="help" onclick='comoAcessar()'>Como acessar?</span>
            </div>
        </div>
    </div>
    <body onload="isLogged()"></body>
    <script>
        function esqueceuSenha() {
            sendMessage('Esqueceu a senha?', 'info', null, false, 'A senha de acesso é a mesma do seu email Ferimport, caso tenha esquecido a senha, redefina-a no Gmail e tente novamente')
        }
        function comoAcessar() {
            sendMessage('Como acessar?', 'info', null, false, 'O login no Bender tem integração com o Gmail, logo a senha de acesso é a mesma do seu email Ferimport, caso não tenha uma conta entre em contato com o setor responsável para obter um email Ferimport e conseguir logar.')
        }
        function isLogged() {
            if (Cookies.get('email')) {
                window.location = "./views/Menu/menu.html"
            } else {
                document.getElementsByTagName("BODY")[0].style.display = "block";
                if (Cookies.get('notFirstTime')) {
                } else {
                    sendMessage('Primeira vez no Bender!', 'info', null, false, '', 'Olá, aparentemente é sua primeira vez utilizando o Bender! Seja bem vindo/a! <br> Antes de fazer login, ative o acesso a apps menos seguros na sua conta do Google, por enquanto o Bender ainda não tem um certificado de segurança, como é exigido pelo Google, mas é 100% seguro, nenhuma senha é armazenada ou manipulada pelo aplicativo, todas suas informações são passadas diretamente ao Google.<br><br>Link para ativar o acesso: <a href=https://myaccount.google.com/security target="_blank">Aqui</a><br>Tutorial, caso necessário: <a href=https://youtu.be/V4escc0wRYM?t=45 target="_blank">Aqui</a>')
                }
            } 
        }
    </script>
    <script src="../_common/Common_script.js"></script>
    <script src="./views/Login/Login_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="../../monkey-modules/tratarData/tratarData.js"></script>
</body>

</html>