body {
  background-image: url("../../_common/Background_Body.jpg");
  background-size: auto;
  display: none;
}

#container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  border: #EB6A18;
  border-style: solid;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  box-shadow: 12px 12px 12px #0000008a;
  color: #EB6A18;
  font-weight: 600;
}

textarea {
  height: 40%;
  width: 85%;
}

button {
  height: 30px;
  width: 85px;
  border: 2px solid #EB6A18;
  border-radius: 15px;
  background-color: #EB6A18;
  color: white;
  padding: 0;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px 0px #000000ad;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #b44500;
  border: 2px solid #b44500;
}

span {
  position: relative;
}

#botoes {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#menu {
  padding-top: 10px;
  text-align: center;
  font-size: 2em;
}

#resultadoCopiar:hover {
  cursor: pointer;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: separate;
  border-spacing: 0px;
  width: 800px;
  border: 3px solid #ddd;
  line-height: normal;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  display: table;
  text-align: left;
  color: #3F424C;
  max-height: 1500px;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

td {
  padding-left: 10px;
  font-weight: bold;
  width: 500px;
}

th {
  padding-left: 10px;
  font-weight: normal;
  height: 25px;
  width: 300px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.transition {
  max-height: 0;
  pointer-events: none;
}

#isTabela {
  margin-left: 30px;
  margin-top: 10px;
}

#opcoes {
  margin-left: 30px;
  margin-top: 10px;
  font-weight: 700;
}

#opcoesHTML {
  display: none;
  font-weight: 400;
}

#testarHTML {
  margin-top: 10px;
}

h3 {
  padding-top: 5px;
  margin-left: 5px;
  margin-top: 0px;
}

.swal2-styled.swal2-confirm {
  display: none !important;
}

.swal2-popup.swal2-toast .swal2-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}