<html>

<head>
    <title>Bender | Email SAC</title>
    <link rel="icon" href="../../_common/Icon.png">
    <link rel='stylesheet' type='text/css' href='EmailSAC_style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="container">
        <div class="menu">
            <div class="infoBox">
                <span class="boxHeader">Cliente</span>
                <div class="info">
                    <label>Nome<input id="nomeCliente" name="Nome" placeholder="Nome do cliente" /></label>
                </div>
                <div class="info">
                    <label>Email<input id="emailCliente" name="Email" placeholder="Email do cliente"
                            type="text" /></label>
                </div>
            </div>
            <div class="infoBox">
                <span class="boxHeader">Pedido</span>
                <div class="info">
                    <label>Número<input id="numeroPedido" name="Nome" placeholder="Número do pedido" type="text"
                            maxlength="6" /></label>
                </div>
                <div class="info">
                    <label>SKU<input id="SKU" name="SKU" placeholder="SKU do produto"
                            type="text" /></label>
                </div>
                <div class="info">
                    <label for="formaPagamento">Forma de pagamento</label>
                    <select name="formaPagamento" id="formaPagamento">
                        <option value="" disabled selected hidden>Método de pagamento</option>
                        <option value="Cartão de crédito">Cartão de crédito</option>
                        <option value="Boleto">Boleto</option>
                        <option value="Pix">Pix</option>
                        <option value="Dinheiro">Dinheiro</option>
                        <option value="valePresente">Vale Presente</option>
                    </select>
                </div>
                <div class="info">
                    <label for="tipoSsolicitacao">Solicitação</label>
                    <br>
                    <select name="solicitacao" id="tipoSolicitacao">
                        <option value="" disabled selected hidden>Motivo da solicitação</option>
                        <optgroup label="Troca">
                            <option value="Defeito">Produto avariado</option>
                            <option value="Desistência">Desistência</option>
                            <option value="Voltagem">Voltagem</option>
                        </optgroup>
                        <optgroup label="Devolução">
                            <option value="Arrependimento">Arrependimento</option>
                            <option value="Envio errado">Envio errado</option>
                    </select>
                </div>
                <div class="info">
                    <label>Nota fiscal<input id="notaFiscal" name="NotaFiscal"
                            placeholder="Número da nota fiscal" /></label>
                </div>
                <div class="info">
                    <label>Valor<input id="valorPedido" name="valorPedido" placeholder="Valor do pedido"
                            type="text" /></label>
                </div>
                <div class="info">
                    <label>Data do pedido<input id="dataPedido" name="dataPedido" type="date"
                            style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" /></label>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="infoBox">
                <div class="boxText">
                    <span class="boxHeader">Motivo</span>
                    <div class="info">
                        <textarea class='textareaText'></textarea>
                    </div>
                </div>
            </div>
            <div class="infoBox">
                <div class="boxText">
                    <span class="boxHeader">Observações</span>
                    <div class="info">
                        <textarea class='textareaText'></textarea>
                    </div>
                </div>
            </div>
            <div class="infoBox">
                <div class="info">
                    <span class="boxHeader">Atendente</span>
                    <label>Nome</label>
                    <select name="email" id="emailAtendente">
                        <option value="" disabled selected hidden></option>
                        <option value='bender.ferimport@gmail.com'>Bender</option>
                        <option value='&lt;Rafaela França&gt;'>Rafaela</option>
                        <option value='&lt;Jucivaldo Filho&gt;'>Jucivaldo</option>
                    </select>
                </div>
                <div class="info">
                    <label>Senha<input id="senhaAtendente" name="Senha" placeholder="Insira sua senha"
                            type="password" /></label>
                </div>
                <div id="botoes">
                    <button onclick="parent.location='../../index.html'">Voltar</a></button>
                    <button onclick="enviarDados()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../_common/Common_script.js"></script>
    <script src="EmailSAC_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>