<html>
<!DOCTYPE html>

<head>
    <title>Bender | Email SAC</title>
    <link rel="icon" href="../../_common/Icon.png">
    <link rel='stylesheet' type='text/css' href='EmailSAC_style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="container">
        <div class="menu">
            <div class="infoBox">
                <span class="boxHeader">Cliente</span>
                <div class="info">
                    <label>Nome<input id="nomeCliente" name="Nome" placeholder="Nome do cliente" /></label>
                </div>
                <div class="info">
                    <label>Email<input id="emailCliente" name="Email" placeholder="Email do cliente"
                            type="text" /></label>
                </div>
            </div>
            <div class="infoBox">
                <span class="boxHeader">Pedido</span>
                <div class="info">
                    <label>Número<input id="numeroPedido" name="Nome" placeholder="Número do pedido" type="text"
                            maxlength="6" /></label>
                </div>
                <div class="info">
                    <label>SKU<input id="SKU" name="SKU" placeholder="SKU do produto" type="text" /></label>
                </div>
                <div class="info">
                    <label for="formaPagamento">Forma de pagamento</label>
                    <select name="formaPagamento" id="formaPagamento">
                        <option value="" disabled selected hidden>Método de pagamento</option>
                        <option value="Cartão de crédito">Cartão de crédito</option>
                        <option value="Boleto">Boleto</option>
                        <option value="Pix">Pix</option>
                        <option value="Dinheiro">Dinheiro</option>
                        <option value="Vale Presente">Vale Presente</option>
                    </select>
                </div>
                <div class="info">
                    <label for="tipoSolicitacao">Solicitação</label>
                    <br>
                    <select name="solicitacao" id="tipoSolicitacao">
                        <option value="" disabled selected hidden>Tipo da solicitação</option>
                        <option value="Troca">Troca</option>
                        <option value="Troca Parcial">Troca Parcial</option>
                        <option value="Devolução">Devolução</option>
                        <option value="Devolução Parcial">Devolução Parcial</option>
                    </select>
                </div>
                <div class="info">
                    <label for="motivo">Motivo</label>
                    <br>
                    <select name="motivo" id="motivo" onclick="clientOption()">
                        <option value="" disabled selected hidden>Motivo da solicitação</option>
                        <optgroup label="Cliente">
                            <option value="Desistência">Desistência</option>
                            <option value="Troca de voltagem">Troca de voltagem</option>
                            <option value="Arrependimento">Arrependimento</option>
                            <option value="Outros">Outros</option>
                        </optgroup>
                        <optgroup label="Ferimport">
                            <option value="Envio errado">Envio errado</option>
                            <option value="Produto com defeito">Produto com defeito</option>
                            <option value="Informações erradas no site">Informações erradas no site</option>
                            <option value="Outros">Outros</option>
                        </optgroup>
                    </select>
                </div>
                <div class="info">
                    <label for="devolução">Envio do produto</label>
                    <br>
                    <select name="devolução" id="devolução" onclick="clientOption()">
                        <option value="" disabled selected hidden>Responsável</option>
                        <option value="Transportadora">Transportadora</option>
                        <option value="Ferimport">Coleta Ferimport</option>
                    </select>
                </div>
                <div class="info">
                    <label>Nota fiscal<input id="notaFiscal" name="NotaFiscal"
                            placeholder="Número da nota fiscal" /></label>
                </div>
                <div class="info">
                    <label>Valor<input id="valorPedido" name="valorPedido" placeholder="Valor do pedido"
                            type="text" /></label>
                </div>
                <div class="info">
                    <label>Data do pedido<input id="dataPedido" name="dataPedido" type="date"
                            style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" /></label>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="infoBox">
                <div class="boxText">
                    <span class="boxHeader">Detalhes</span>
                    <div class="info">
                        <textarea class='textareaText'></textarea>
                    </div>
                </div>
            </div>
            <div class="infoBox">
                <div class="boxText">
                    <span class="boxHeader">Observações</span>
                    <div class="info">
                        <textarea class='textareaText'></textarea>
                    </div>
                </div>
            </div>
            <div class="infoBox">
                <span class="boxHeader">Atendente</span>
                <div class="info">
                    <label>Nome</label>
                    <select name="email" id="emailAtendente">
                        <option value="" disabled selected hidden></option>
                        <option value='bender.ferimport@gmail.com'>Bender</option>
                        <option value='rafaela.franca@ferimport.com.br'>Rafaela</option>
                        <option value='jucivaldo_batista@ferimport.com.br'>Jucivaldo</option>
                        <option value='iury.rodrigues@ferimport.com.br'>Iury</option>
                    </select>
                </div>
                <div class="info">
                    <label>Senha<input id="senhaAtendente" name="Senha" placeholder="Insira sua senha"
                            type="password" /></label>
                </div>
                <div id="botoes">
                    <button onclick="parent.location='../Menu/menu.html'">Voltar</button>
                    <button onclick="enviarDados()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <body onload="checkCookies()"></body>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="../../_common/Common_script.js"></script>
    <script src="EmailSAC_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../../monkey-modules/tratarData/tratarData.js"></script>
</body>
</html>