<html>

<head>
    <title>Bender | Menu</title>
    <link rel="icon" href=" ../_common/Icon.png">
    <link rel='stylesheet' type='text/css' href='./menu_style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="container">
        <div id="menu">
            <div id="menuHeader">
                <span id='menuHeaderText'>Bender | v0.7.6 | © Monkey Dev | <span id='logout'
                        onclick="sair()">Sair</span></span>
            </div>
            <div class="opcao" onclick="parent.location='../EmailSAC/EmailSAC.html'">
                <img src='../EmailSAC/_assets/opcao_EmailSAC.png'></img>
                <div class="opcaoBloco">
                    <span class="opcaoText">Email Ferimport</span>
                    <br>
                    <span class="opcaoDescription">Enviar email para clientes</span>
                </div>
            </div>
            <div class="opcao" onclick="parent.location='../InserirMarca/InserirMarca.html'">
                <img src="../InserirMarca/_assets/opcao_InserirMarca.png"></img>
                <div class="opcaoBloco">
                    <span class="opcaoText">Inserir marca</span>
                    <br>
                    <span class="opcaoDescription">Acrescenta a marca no intervalo indicado</span>
                </div>
            </div>
            <div class="opcao" onclick="parent.location='../LinkCarrinho/LinkCarrinho.html'">
                <img src="../LinkCarrinho/_assets/opcao_LinkCarrinho.png"></img>
                <div class="opcaoBloco">
                    <span class="opcaoText">Gerar link</span>
                    <br>
                    <span class="opcaoDescription">Cria URLs diretamente para o carrinho do site</span>
                </div>
            </div>
            <div class="opcao" onclick="parent.location='../TestarHTML/TestarHTML.html'">
                <img src='../TestarHTML/_assets/opcao_TestarHTML.png'></img>
                <div class="opcaoBloco">
                    <span class="opcaoText">Teste de HTML</span>
                    <br>
                    <span class="opcaoDescription">Analisar e testar códigos HTMLs dos produtos</span>
                </div>
            </div>
            <div class="opcao" onclick="parent.location='../Drive/Drive.html'">
                <img src='../Drive/_assets/opcao_Drive.png'></img>
                <div class="opcaoBloco">
                    <span class="opcaoText">Drive</span>
                    <br>
                    <span class="opcaoDescription">Modelos, tutoriais e arquivos da VTEX</span>
                </div>
            </div>
            <div class="opcao" onclick="parent.location='../OutrasFuncoes/OutrasFuncoes.html'">
                <img src='../OutrasFuncoes/_assets/opcao_OutrasFuncoes.png'></img>
                <div class="opcaoBloco">
                    <span class="opcaoText">Outras funções</span>
                    <br>
                    <span class="opcaoDescription">Demais funcionalidades da aplicação</span>
                </div>
            </div>
        </div>
    </div>
    <body onload="checkCookies()"></body>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../../_common/Common_script.js"></script>
    <script src="./menu_script.js"></script>
    <script>
        function emConstrucao() {
            Swal.fire({
                title: 'Acesso restrito',
                text: 'Você é o desenvolvedor?',
                showCancelButton: true,
                confirmButtonText: `Sim`,
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.isConfirmed) {
                    isDev()
                }
            })
        }
        async function isDev() {
            let { value: codigoAcesso } = await Swal.fire({
                title: 'Insira o código de acesso',
                input: 'password',
                inputPlaceholder: 'Insira o código de acesso'
            })
            if (codigoAcesso == 'nonoca') { //Se veio olhar no inspecionar é corno/a
                sendMessage('Olá!', 'success', null, false, 'Bem vindo ao sandbox do Bender')
                setTimeout(() => window.location.href = "https://bender-ferimport.herokuapp.com/Sandbox/sandbox.html", 2000)
            } else {
                sendMessage('Código inválido', 'error', null, false, 'Entre em contato com a administração da Monkey Corporation caso seu acesso seja necessário.')
            }
        }
        async function sair() {
            Cookies.remove('email')
            await sendMessage('Deslogado com sucesso!', 'success', 1400, true, '')
            setTimeout(() => window.location.href = '../../', 1400)
        }
    </script>

</body>

</html>