<html>

<head>
    <title>Bender | Login</title>
    <link rel="icon" href="../../_common/Icon.png">
    <link rel='stylesheet' type='text/css' href='Login_style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container">
    <h3>Bender | Login</h3>
    <div class="loginBox">
        <div class="info">
            <label>Usuário<input id="idUsuario" name="idUsuario" type="text" placeholder="ID Usuário" /></label>
        </div>
        <div class="info">
            <label>Código<input id="codigoAcesso" name="Codigo" type="password" placeholder="Código de Acesso"
                    type="text" /></label>
        </div>
        <div id="botoes">
            <span>Esqueci o código</span>
            <button onclick="Login()">Entrar</button>
        </div>
    </div>
</div>

</html>