<html>

<head>
    <title>Bender | Ordenar Atributos</title>
    <link rel="icon" href="../../_common/Icon.png">
    <link rel='stylesheet' type='text/css' href='OrdenarAtributos_style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="container">
        <div id="menu">
            <p>Insira o código</p>
            <textarea id="codigo"></textarea>
        </div>
        <div id="botoes">
            <button onclick="parent.location='../Menu/menu.html'">Voltar</a></button>
            <button onclick="Listar()">Listar</button>
            <button onclick="Converter()">Converter</button>
        </div>
        <div id="resultado">
            <span id="seta" style="font-size: 1.5em"> ⬇</span><br>
            <span id="resultadoCopiar" onclick="CopiarResultado()">Clique aqui para copiar o resultado</span>
        </div>
    </div>
    </div>
    <textarea id = "textResultado" style="height: 0px; width: 0px; padding: 0; margin: 0;"></textarea>
    <body onload="checkCookies()"></body>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="../../_common/Common_script.js"></script>
    <script src="OrdenarAtributos_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
<style> img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] { display: none;} </style>
</html>