body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../../_common/Background_Body.jpg");
    background-size: auto;
    display: none;
}

#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: #EB6A18;
    border-style: solid;
    border-radius: 10px;
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    box-shadow: 12px 12px 12px #0000008a;
    color: #EB6A18;
    font-weight: 600;
}

textarea {
    height: 40%;
    width: 85%;
}

button {
    height: 30px;
    width: 85px;
    border: 2px solid #EB6A18;
    border-radius: 15px;
    background-color: #EB6A18;
    color: white;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px 0px #000000ad;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #b44500;
    border: 2px solid #b44500;
}

#botoes {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

p {
    font-weight: 700;
    font-size: 1.6em;
    color: #EB6A18;
}

#menu {
    color: white;
    padding-top: 0px;
    text-align: center;
}

#resultado {
    margin-top: 10px;
    color: white;
    text-align: center;
    display: none;
}

#resultadoCopiar {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    text-decoration: underline;
    color: #EB6A18;
}

#resultadoCopiar:hover {
    cursor: pointer;
}

#inserirMarca {
    font-size: 0.8em;
    color: white;
    margin-left: 30px;
}

#Marca {
    width: 45%;
    margin-right: 35px;
    margin-top: 5px;
    float: right;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #000;
}

#Seta {
    font-size: 1.5em;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EB6A18;
}

.swal2-styled.swal2-confirm {
    display: none !important;
}