body {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url("../../_common/Background_Body.jpg");
background-size: auto;
}

#container {
background-image: url("./_assets/Container_LinkCarrinho.jpg");
border: white;
border-style: solid;
border-radius: 10px;
width: 400px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
height: 500px;
position: relative;
}

.quantidade {
    margin-left: 10px;
}

.box {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 30px;
}

input {
    width: 60px;
    margin-left: 6px;
}

button {
    height: 30px;
    width: 75px;
    padding: 0;
}

#botoes {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: absolute;
    bottom: 60px;
    left: 10%;
    right: 10%;
}

p {
    font-weight: bold;
    font-size: 1.8em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

#menu {
    color: white;   
    padding-top: 20px;
}

#resultado {
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    color: white;
    text-align: center;
    display: none;
    left: 10%;
    right: 10%;
}

#resultadoCopiar { 
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    text-decoration: underline;
}

#resultadoCopiar:hover{
    cursor:pointer;
}

.swal2-styled.swal2-confirm {
    display: none !important;
}