body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../../_common/Background_Body.jpg");
    background-size: auto;
    display: none;
}

#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: #EB6A18;
    border-style: solid;
    border-radius: 10px;
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    box-shadow: 12px 12px 12px #0000008a;
    color: #EB6A18;
    font-weight: 600;
}

.quantidade {
    margin-left: 10px;
}

.box {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 30px;
    color: #EB6A18;
}

input {
    width: 60px;
    margin-left: 6px;
}

button {
    height: 30px;
    width: 75px;
    padding: 0;
}

#botoes {
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: center;
position: absolute;
top: 50%;
margin-left: 15px;
}

button {
    position: relative;
    height: 30px;
    width: 85px;
    border: 2px solid #EB6A18;
    border-radius: 15px;
    background-color: #EB6A18;
    color: white;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px 0px #000000ad;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #b44500;
    border: 2px solid #b44500;
}

p {
    font-weight: bold;
    font-size: 1.8em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

#menu {
    color: white;
    padding-top: 20px;
}

#resultado {
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    color: white;
    text-align: center;
    display: none;
    left: 10%;
    right: 10%;
}

#resultadoCopiar {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    text-decoration: underline;
}

#resultadoCopiar:hover {
    cursor: pointer;
}

.swal2-styled.swal2-confirm {
    display: none !important;
}